<h3>Animals</h3>

<a class="button" href="/">Back</a>


<p><a href="/animals/new">Add Animal</a></p>


<% for animal in @animals %>

<p><a href="/animals/<%= animal.id %>"><%= animal.name %></a></p>
<img src='<%= animal.image %>'/>

<% end %>
