

  <div class="info">
      <img class="home" src="/all.jpeg"/>
      <p class="button_link"><a href="/animals">View All Animals</a></p>
  </div>
<section>
  <div class="info">
    <img class="home" src="/adopt.png"/>
    <p class="button_link"><a href="/availableAnimals">View Animals Available For Adoption</a></p>
  </div>
  <div class="info">
    <img class="home" src="/vet.jpeg"/>
    <p class="button_link"><a href="/animalsInCare">View Animals in Care</a></p>
  </div>

<section>
