<p><a href="/animals">View All Animals</a></p>
<img src="/all.jpeg"/>
<p><a href="/availableAnimals">View Animals Available For Adoption</a></p>
<img src="/adopt.png"/>
<p><a href="/animalsInCare">View Animals in Care</a></p>
<img src="/vet.jpeg"/>
