<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Scottish Animal Shelter</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <header>
      <h1>Animal Shelter</h1>
      <nav>
        <a href="/">Animals</a>
        <a href='/customers'>Customers</a>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>

</html>
