table{
  width:80%;
  margin:auto;
}

th, td{
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding:12px;
}

th{
  font-size: 1.25em;
}

td{font-size: 1.25em;}

.button_image{
  width:40px;
}

header {
  background-color: #6799A3;
  color: #FFF;
  height: 160px;
  text-align: center;
  padding:10px;
  font-family: Gabriela;
  font-size: 1.5em;
}

header a{
  color:white;
  display:inline-block;
  text-decoration: none;
  padding:12px;
}

header a:hover{
  text-decoration: underline;
}

.button_link a{
  color:#6799A3;
  background-color: #FFF;
  text-decoration: none;
}

.button_link{
  border: 1px solid #6799A3;
  width:270px;
  border-radius: 5px;
  padding:8px;
  text-align: center;
}

.button_link a:hover{
  font-weight: bold;
}

.add_button a{
  color:#6799A3;
  background-color: #FFF;
  text-decoration: none;
}

.add_button{
  border: 1px solid #6799A3;
  width:140px;
  border-radius: 5px;
  padding:8px;
  text-align: center;
  margin-left: 50px;
}

.add_button a:hover{
  font-weight: bold;
}

.home{
  width:500px;
  height: 300px;
}

section{
  display:flex;
  justify-content: space-around;
}

.info{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search_bar{
  display: flex;
  align-items: center;
  height:100px;
  font-size: 1.25em;
}

.animal_img{
  width:300px;
  height:180px;
}

.animal{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

content{
  width:90%;
  display:flex;
  margin: auto;
  flex-direction: row;
  flex-flow: row wrap;
}

h2{
  text-align:center;
  color: #6799A3;
}

.back_button a{
  text-decoration: none;
  color: #6799A3;
  border: 1px solid #6799A3;
  border-radius: 3px;
  padding: 5px;
  position: relative;
  top: -50px;
}

.back_button a:hover{
  font-weight: bold;
}

h3{color: #6799A3;
  text-align: center;
  margin-top: 40px;}

.form{
    display:flex;
    flex-direction: row;
    justify-content:center;
  }
form{margin-right:10px;}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  font-size: 1.2em;
}

.icons{
  display:flex;
  flex-direction: row;
  align-items: center;
}

a{
  color: #6799A3;
  text-decoration: none;
}

a:hover{
  font-weight: bold;
}

.adoption_form{
  color: #6799A3;
}
