<h2>Add Customer</h2>

<section class="details">
<form action="/customers" method="post">

  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
  </p>
  <p>
    <label for="address">Address:</label>
    <input type="text" name="address" id="address" />
  </p>
  <p>
    <label for="phone_number">Phone Number:</label>
    <input type="phone_number" name="phone_number" id="phone_number" />
  </p>

  <input class="form_button" type="submit" value="Save" />

  <a class="button" href="/customers">Cancel</a>

</form>
</section>
